<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="saikai.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <title>事件</title>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios@0.27.2/dist/axios.min.js"></script>
</head>

<body>
    <div class="mobile" id="wiki" v-cloak>
        <template v-for="(i,n) in menu['活动事件']">
            <a :href="i.href" class="link" v-if="n < menu['活动事件'].length-1">
                <div v-text="i.name"></div>
            </a>
            <a :href="i.href" class="link" style="border: none;" v-else>
                <div v-text="i.name"></div>
            </a>
        </template>
    </div>
</body>
<script>
    const App = {
        data() {
            return {
                year: new Date().getFullYear(),
                menu: "",
                menu_mobile: "",
                link: window.location.hash.slice(1)
            }
        },
        created() {
            axios.get('menu.json')
                .then((response) => {
                    this.menu = response.data[0]
                    this.menu_mobile = response.data[1]
                })
        },
        methods: {}
    }
    const app = Vue.createApp(App)
    const vm = app.mount("#wiki")
</script>

</html>