@charset "utf-8";
/* CSS Document */

/* Global */

html {
    margin: 0;
    padding: 0;
    width:100%;
	height: auto;
    /* Flex */
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* 禁止用户选择 */
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei',sans-serif;
    color: #555555;
    width: 90%;
    max-width: 1200px;
    overflow-x: hidden;
    padding-bottom: 1em;
}

@media only screen and (max-width: 800px) {
h1 {
    font-size: 1.5em;
    text-align: right;
    height: 3em;
    line-height: 3em;
    border-bottom: solid 1.5px #AAAAAA;
    margin: 0 0 1em 0;
    padding-right: 1.5em;
}

}
@media only screen and (min-width: 801px) {
h1 {
    text-align: right;
    height: 3.5em;
    line-height: 3.5em;
    border-bottom: solid 2px #555555;
    margin: 0 0 1.5em 0;
    padding-right: 1.5em;
}  
}

p,li {
    line-height: 1.7em;
}

a {
	color: #555555;
	text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	transition: color 0.25s;
	-moz-transition: color 0.25s;	/* Firefox 4 */
	-webkit-transition: color 0.25s;	/* Safari 和 Chrome */
	-o-transition: color 0.25s;	/* Opera */	
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
}

strong {
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1.1em;
}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow:hidden;
}

th {
    color: #FFF;
    background-color: #bebebe;
    border-color:rgb(255,255,255);
    height: 1.7em;
    line-height: 1.7em;
}

td {
    text-align: center;
    background-color: #ececec;
    border-color:rgb(255,255,255);
    height: 1.7em;
    line-height: 1.7em;
    text-align: center;
}

.remixicon {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 800px) {
    .resident {
        float: right;
        width: 8em;
    }
    .animal {
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .animal_img {
        width: auto;
        max-width: 7em;
    }
    .pet {
        width: 30%;
        max-width: 7em;
    }
    #horse {
        width: auto;
        max-width: 15em;
    }
    #Breeding {
        font-size: 0.5em;
    }
}

@media only screen and (min-width: 801px) {
    .resident {
        float: right;
        margin-right: 3em;
    }
    .animal {
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .animal_img {
        width: auto;
        max-width: 10em;
    }
    .pet {
        width: auto;
        max-width: 15em;
    }
    #Breeding {
        font-size: 1em;
    }
}

.love {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}
.left1em {margin-left: 1em;}
.Gray {color: #87868b;}
.Violet {color: #9670e5}
.Blue {color: #2f81c2;}
.Green {color: #09b43a;}
.Yellow {color: #d79a0d;}
.Orange {color: #d96d0d;}
.Red {color: #d63a4a;}

.nappi {color: #eb7b00;}
.chokkaku {color: #334097;}
.borudo {color: #aa4790;}
.shefunenn {color: #e10015;}
.aqua {color: #6ccfe4;}
.greedy {color: #ffdc35;}
.timeet {color: #70ac1a;}

#spring {background-color: #aad7d2;}
#summer {background-color: #88c283;}
#autumn {background-color: #efbb66;}
#winter {background-color: #a7cae6;}

@media only screen and (max-width: 1024px) {
    .calendar {
        font-size: 0.5em;
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        display: -webkit-flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .calendar_balance {
        width: 100%;
        display: -webkit-flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .calendar_top {
        width: 100%;
        font-size: 2em;
    }
    .calendar_bottom {
        width: 100%;
    }
    .left0d5em {
        margin: 0;
        padding: 0;
    }
    .calendar_title {
        width: 100%;
        margin: 0.5em 0 0.5em 0;
        text-align: center;
        height: 2.5em;
        line-height: 2.5em;
        color: #ffffff;
    }
}
@media only screen and (min-width: 1025px) {
    .calendar {
        width: 100%;
        min-width: 7em;
        height: 6em;
        padding: 0.5em 0 0.5em 0;
        display: flex;
        display: -webkit-flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .calendar_balance {
        width: 100%;
        display: -webkit-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .calendar_top {
        height: 1.5em;
        line-height: 1.2em;
        font-size: 2em;
        margin-left: 0.5em;
    }
    .calendar_bottom {
        text-align: left;
        margin-left: 0.5em;
        display: -webkit-flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .left0d5em {
        margin: 0;
        padding: 0;
        margin-left: 0.5em;
    }
    .calendar_title {
        font-size: 1.5em;
        width: 100%;
        margin: 0.5em 0 0.5em 0;
        text-align: center;
        height: 2.5em;
        line-height: 2.5em;
        color: #ffffff;
        border-radius: 2.5em;
    }
    .calendar_link:hover {color: #f1c40e;}
    .calendar_link2:hover {color: #888888;}
    .calendar_link_boy:hover {color: #6ab2ec;}
    .calendar_link_girl:hover {color: #df737e;}
}
