@charset "utf-8";
/* CSS Document */

html,body {
    position: absolute;
    margin: 0;
    padding: 0;
    width:100%;
	height: 100%;
    font-family: 'Microsoft JhengHei','Microsoft YaHei',sans-serif;
    color: #666;
    /* 禁止用户选择 */
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    background-color: #ffffff;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

a {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    text-decoration: none;
}

.title {
    width: 100%;
    height: 10%;
    min-height: 10em;
    max-height: 15em;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.3em #999;
    background-color: #aaa;
    color: #ffffff;
    z-index: 10;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}

.main {
    width: 100%;
    height: 90%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
}

.menu {
    width: 20em;
    height: auto;
    min-height: 100%;
    flex-grow:0;
    box-shadow: 0 0 0.3em #999;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}

.frame {
    overflow: hidden;
    width: auto;
    height: 100%;
    min-height: 80vh;
    flex-grow:1;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

iframe {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.menu_mobile {
    display: none;
}

.sub {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    background-color: #eee;
}

.list {
    width: 90%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div.list_link {
    width: auto;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    padding: 0 0.5em 0 0.5em;
}

a.list_link {
    color: #666;
}

a.list_link:active {
    color: #aaa;
}

.girl { color: #f04e4d !important; }
.girl:active { color: #ffaaaa !important; }
.boy { color: #1b75bc !important; }
.boy:active { color: #addafd !important; }
