<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="stylesheet" href="/css/iframe.css">
    <title>能钓到的东西</title>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios@0.27.2/dist/axios.min.js"></script>
    <style>
        @media only screen and (max-width: 800px) {

            th,
            td {
                height: 1.5em;
                line-height: 1.5em;
                padding: 3px;
                text-align: center;
            }
        }

        ul {
            display: flex;
            display: -webkit-flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
        }

        li {
            width: 4em;
            margin-left: 1em;
            cursor: default;
        }

        .title {
            font-weight: bold;
            width: 4em;
            text-align: center;
            border: solid 2px #666;
            background-color: #ccc;
            padding: 5px;
        }

        .not {
            color: gray;
        }
    </style>
</head>

<body>
    <div id="fish" v-cloak>
        <h1>能钓到的东西</h1>
        <div class="lang_flex" @click="switch_langusge">
            <img src="/icon/translate.svg">
            <div class="lang" v-if="language == 'cn'">中文</div>
            <div class="lang" v-if="language == 'jp'">日文</div>
        </div>
        <div class="gamepad">
            <div class="title">季节</div>
            <ul class="link">
                <li :class="season=='all'? '' : 'not'" @click="this.season = 'all';screening();">全部</li>
                <li :class="season!=i[0] ? 'not' : ''" @click="this.season = i[0];screening();"
                    v-for="i in season_list">
                    {{ i[1] }}</li>
            </ul>
        </div>
        <div class="gamepad">
            <div class="title">场所</div>
            <ul class="link">
                <li :class="ground=='全部'? '' : 'not'" @click="this.ground = '全部';screening();">全部</li>
                <li :class="ground!=i ? 'not' : ''" @click="this.ground = i;screening();" v-for="i in ground_list">
                    {{ i }}
                </li>
            </ul>
        </div>
        <br>
        <table>
            <thead>
                <tr>
                    <th rowspan="2">名称</th>
                    <th rowspan="2">蓄力</th>
                    <th colspan="4">季节</th>
                    <th rowspan="2">地点</th>
                    <th rowspan="2">大小</th>
                    <th colspan="2">体长</th>
                    <th rowspan="2">其他</th>
                </tr>
                <tr>
                    <th>春</th>
                    <th>夏</th>
                    <th>秋</th>
                    <th>冬</th>
                    <th>最小</th>
                    <th>最大</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(item,index) in list">
                    <tr>
                        <td>{{ item['name'][language] }}</td>
                        <td>{{ item['level'] }}</td>

                        <template v-for="i in season_list">
                            <template v-if="item['season'][i[0]]">
                                <td v-if="check(item['low_season'],i[1])">○</td>
                                <td v-else>△</td>
                            </template>
                            <td v-else>×</td>
                        </template>
                        <td>{{ item['ground'] }}</td>
                        <td>{{ item['size']['range'] }}</td>
                        <td>{{ item['size']['min'] }}</td>
                        <td>{{ item['size']['max'] }}</td>
                        <td style="max-width: 10em;">{{ item['other'] }}</td>
                    </tr>
                </template>
            </tbody>
        </table>
        <p class="note">
            <span style="padding: 0 0.5em 0 2em;">○</span>：高概率钓到
            <span style="padding: 0 0.5em 0 2em;">△</span>：低概率钓到
            <span style="padding: 0 0.5em 0 2em;">×</span>：无法钓到
        </p>
    </div>
</body>
<script>
    const App = {
        data() {
            return {
                language: "cn",
                season: "all",
                season_list: [
                    ["spring", "春"],
                    ["summer", "夏"],
                    ["autumn", "秋"],
                    ["winter", "冬"]
                ],
                ground: "全部",
                ground_list: ["海", "湖", "泉", "上游", "下游", "池", "温泉", "地底湖"],
                list: "",
                read_only: ""
            }
        },
        created() {
            axios.get('Fish.json')
                .then((response) => {
                    this.list = response.data
                    this.read_only = response.data
                })
        },
        methods: {
            switch_langusge() {
                if (this.language == 'cn') {
                    this.language = 'jp'
                } else {
                    this.language = 'cn'
                }
            },
            check(e, o) {
                return (e.indexOf(o) == -1)
            },
            screening() {
                let new_data = new Array()
                if (this.season != "all") {
                    for (let i in this.read_only) {
                        if (this.read_only[i]['season'][this.season]) {
                            new_data.push(this.read_only[i])
                        }
                    }
                } else {
                    new_data = this.read_only
                }
                if (this.ground != "全部") {
                    let new_data_2 = new Array()
                    for (let i in new_data) {
                        if (new_data[i]['ground'].indexOf(this.ground) != -1) {
                            if (this.ground == "泉" || this.ground == "湖") {
                                if (new_data[i]['ground'] != "温泉" && new_data[i]['ground'] != "地底湖") {
                                    new_data_2.push(new_data[i])
                                }
                            } else {
                                new_data_2.push(new_data[i])
                            }
                        }
                    }
                    this.list = new_data_2
                } else {
                    this.list = new_data
                }

            }
        }
    }
    const app = Vue.createApp(App)
    const vm = app.mount("#fish")
</script>

</html>