<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="stylesheet" href="/css/iframe.css">
    <title>矿石以及挖掘物</title>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios@0.27.2/dist/axios.min.js"></script>
</head>

<body>
    <div id="ore" v-cloak>
        <h1>矿石以及挖掘物</h1>
        <div class="lang_flex" @click="switch_langusge">
            <img src="/icon/translate.svg">
            <div class="lang" v-if="language == 'cn'">中文</div>
            <div class="lang" v-if="language == 'jp'">日文</div>
        </div>
        <ul>
            <li><b>「泉」</b>：泉之采矿场</li>
            <li><b>「湖」</b>：湖之采矿场</li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>名称</th>
                    <th>价格</th>
                    <th>层数</th>
                    <th>说明</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(item,index) in list">
                    <tr>
                        <td v-text="item['name'][language]"></td>
                        <td v-text="item['price']"></td>
                        <td v-html="item['floor']" style="text-align: left;"></td>
                        <td v-html="item['explain']" style="text-align: left;"></td>
                    </tr>
                </template>
            </tbody>
        </table>
        <h3 id="每层可以挖到东西的概率">每层可以挖到东西的概率</h3>
        <p>在「<a href="../Life/Mining_List.html">这个页面</a>」查看。</p>
    </div>
</body>
<script>
    const App = {
        data() {
            return {
                language: "cn",
                list: "",
            }
        },
        created() {
            axios.get('Ore.json')
                .then((response) => {
                    this.list = response.data
                })
        },
        methods: {
            switch_langusge() {
                if (this.language == 'cn') {
                    this.language = 'jp'
                } else {
                    this.language = 'cn'
                }
            }
        }
    }
    const app = Vue.createApp(App)
    const vm = app.mount("#ore")
</script>

</html>